<div class="wrapper">
  <form method="post">
    <label for="input-name">Name</label>
    <input type="text" name="name" id="input-name" value="{{place.name}}">

    <label for="input-type">Type</label>
    <select name="type" id="input-type">
      <option value="coffee_shop">Coffee Shop</option>
      <option value="bookstore">Bookstore</option>
    </select>   

    <div class="map-container map-container--no-flex"></div>

    <label for="input-latitude">Latitude</label>
    <input type="text" name="latitude" id="input-latitude" value="{{place.location.coordinates.[0]}}">
    <label for="input-name">Longitude</label>
    <input type="text" name="longitude" id="input-longitude" value="{{place.location.coordinates.[1]}}">

    <button type="submit">Submit</button>
  </form>
</div>

{{> createscript}}
{{> mapscript}}